node_modules
.turbo
dist
.next
.tsx
*.log
.DS_Store


apps/**/cashier-payment-service.db
apps/**/cashier-authen-service.db
apps/**/cashier-products-service.db
apps/**/cashier-members-service.db
apps/**/cashier-transactions-service.db
apps/**/cashier-orders-service.db
apps/**/drizzle/*
